.pLayout{
    /* background: var(--dark-color); */
    /* border: 1px solid #000; */
    height: auto;
    width: 100%;
}
.cardContainer{
    width: 90%;
    height:70%;
    margin:0 auto;
    height: 100%;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}