.menu{
    z-index: 900;
    box-shadow: 2px 0px 0px rgba(0,0,0,0.4);
    height: 100vh;
    width: 95%;
    background-color:var(--bright-color);
    overflow: hidden;
    position: fixed;
    border-right: 1px solid rgba(0,0,0,0.2);
    transition: all 0.2s linear;
}
@media only screen and (min-width:30em){
    .menu{
        width: 50%;
    }
}
@media only screen and (min-width:60em){
    .menu{
        width: 30%;
    }
}
.avatar{
    width: 50%;
    height: 35%;
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 30px;
    
}
@media only screen and (min-width:30em){
    .avatar{
        display: none;
    }
}
@media only screen and (min-width:60em){
    .avatar{
        display: block;
        margin-top:70px;
        width: 70%;
        height: 30%;
    }
}
.avatar img{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background:#fff;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 5px 5px 0px  rgba(0,0,0,0.3);                                                   
}

@media only screen and (min-width:60em){
    .avatar img{
        height: 150px;
        width: 150px;
        margin-top: 20px;
    }
}

.nav{
    width: 80%;
    height: 90%;
    margin-top: 50px;                                                
}
@media only screen and (min-width:30em){
    .nav{
        width: 80%;
        height: 90%;
        margin: 0 auto;
        margin-top: 50px;     
        border: none;
        box-shadow: none; 
        border-radius: 3px;
        transition: all 0.2s linear;
    }
    /* .nav:hover{
        box-shadow: none;
        transition: all 0.2s linear;
        box-shadow: 3px 3px 0px  rgba(0,0,0,0.3);

    } */
}
@media only screen and (min-width:60em){
    .nav{
        margin: 0 auto;
        margin-top: 50px;
        justify-content: center;
        border: 1px solid rgba(0,0,0,0.3);
        /* box-shadow: 3px 3px 0px  rgba(0,0,0,0.3); */
    }
}

.navItems{
    display: flex;
    width: 90%;
    height: 20%;
    border: 1.5px solid rgba(0,0,0,0.3);
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
    /* box-shadow: 5px 5px 0px  rgba(0,0,0,0.3); */
    transition: all 0.2s linear;
}
.navItems:hover{
    color: #000;
    box-shadow: none;
    transition: all 0.2s linear;
    box-shadow: 3px 3px 0px  rgba(0,0,0,0.3);
    
}

@media only screen and (min-width:30em){
    .navItems{
        width: 80%;
        padding: 5px;
        margin-top: 5px;
    }
    .nav-items:first-child{
        margin-top: 30px;
    }
}

@media only screen and (min-width:60em){
    .navItems{
        height: 15%;
        width: 90%;
        margin-top: 10px;
    }
}
.iconHolder, .textHolder{
    height: 50%;
    color:#fff;
    padding: 10px;
}
@media only screen and (min-width:30em){
    .iconHolder, .textHolder{
        padding:5px;
    }
}
.iconHolder{
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
    border:1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    text-align:center;
    background: var(--dark-color);
}
@media only screen and (min-width:30em){
    .iconHolder{
        height: 60%;
        margin-top:2px
    }
}
@media only screen and (min-width:60em){
    .iconHolder{
        height: 70%;
        padding:10px 5px;
        /* margin-top:2px */
    }
}
.textHolder{
    width: 60%;
    font-size: 18px;
    font-family: var(--font1);
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (min-width:30em){
    .textHolder{
        font-size: 20px;
    }
}
.link{
    display: flex;
    align-items:center;
    text-decoration: none;
    color:#fff;
}